:root 
{
	/*--sidebar-color:#ece5e5;*/
	--sidebar-color:#fce5cd;
	--sidebar-hover:#fcf5fd;
	--bgcol:#ffffff;
	/*--bgcol:#efefef;*/
	--bghover:#f5f5f5;
	/*--sidebar-color:blue;*/
}

@import url('https://themes.googleusercontent.com/fonts/css?kit=1n8us-eEzYYhbTLMubR0ZA1KNGra13VIU0iL8fHG2AX-SYK_Ln3uQOimoUBe-l5o');

.lst-kix_ufezumu3m1db-2>li:before{content:"\0025a0  "}
.lst-kix_ufezumu3m1db-3>li:before{content:"\0025cf  "}
.lst-kix_ufezumu3m1db-4>li:before{content:"\0025cb  "}
ul.lst-kix_rw4kzzpjrib3-1{list-style-type:none}
ul.lst-kix_rw4kzzpjrib3-2{list-style-type:none}
ul.lst-kix_rw4kzzpjrib3-0{list-style-type:none}
.lst-kix_ufezumu3m1db-1>li:before{content:"\0025cb  "}
.lst-kix_ufezumu3m1db-0>li:before{content:"\0025cf  "}
.lst-kix_cubg9aqsmmcp-4>li:before{content:"\0025cb  "}
.lst-kix_mz621xvypbqm-6>li:before{content:"\0025cf  "}
.lst-kix_mz621xvypbqm-7>li:before{content:"\0025cb  "}
.lst-kix_mz621xvypbqm-4>li:before{content:"\0025cb  "}
.lst-kix_mz621xvypbqm-5>li:before{content:"\0025a0  "}
.lst-kix_mz621xvypbqm-8>li:before{content:"\0025a0  "}
.lst-kix_cubg9aqsmmcp-5>li:before{content:"\0025a0  "}
ul.lst-kix_rw4kzzpjrib3-5{list-style-type:none}
.lst-kix_cubg9aqsmmcp-8>li:before{content:"\0025a0  "}
ul.lst-kix_rw4kzzpjrib3-6{list-style-type:none}
ul.lst-kix_rw4kzzpjrib3-3{list-style-type:none}
ul.lst-kix_rw4kzzpjrib3-4{list-style-type:none}
.lst-kix_cubg9aqsmmcp-6>li:before{content:"\0025cf  "}
ul.lst-kix_rw4kzzpjrib3-7{list-style-type:none}
.lst-kix_cubg9aqsmmcp-7>li:before{content:"\0025cb  "}
ul.lst-kix_rw4kzzpjrib3-8{list-style-type:none}
.lst-kix_ufezumu3m1db-5>li:before{content:"\0025a0  "}
.lst-kix_ufezumu3m1db-7>li:before{content:"\0025cb  "}
.lst-kix_mz621xvypbqm-0>li:before{content:"\0025cf  "}
.lst-kix_mz621xvypbqm-1>li:before{content:"\0025cb  "}
.lst-kix_ufezumu3m1db-6>li:before{content:"\0025cf  "}
.lst-kix_mz621xvypbqm-2>li:before{content:"\0025a0  "}
.lst-kix_mz621xvypbqm-3>li:before{content:"\0025cf  "}
.lst-kix_ufezumu3m1db-8>li:before{content:"\0025a0  "}
ul.lst-kix_uhj00amt2lq-4{list-style-type:none}
ul.lst-kix_uhj00amt2lq-3{list-style-type:none}
ul.lst-kix_uhj00amt2lq-6{list-style-type:none}
ul.lst-kix_uhj00amt2lq-5{list-style-type:none}
ul.lst-kix_uhj00amt2lq-8{list-style-type:none}
ul.lst-kix_uhj00amt2lq-7{list-style-type:none}
.lst-kix_hwmkt1vutyj5-0>li:before{content:"\00274f  "}
.lst-kix_aocxomv5d9p2-0>li:before{content:"\00274f  "}
.lst-kix_aocxomv5d9p2-1>li:before{content:"\00274f  "}
.lst-kix_hwmkt1vutyj5-5>li:before{content:"\00274f  "}
.lst-kix_aocxomv5d9p2-2>li:before{content:"\00274f  "}
.lst-kix_hwmkt1vutyj5-4>li:before{content:"\00274f  "}
.lst-kix_hwmkt1vutyj5-1>li:before{content:"\00274f  "}
.lst-kix_hwmkt1vutyj5-3>li:before{content:"\00274f  "}
ul.lst-kix_uhj00amt2lq-0{list-style-type:none}
ul.lst-kix_uhj00amt2lq-2{list-style-type:none}
.lst-kix_hwmkt1vutyj5-2>li:before{content:"\00274f  "}
ul.lst-kix_uhj00amt2lq-1{list-style-type:none}
.lst-kix_aocxomv5d9p2-8>li:before{content:"\00274f  "}
ul.lst-kix_cubg9aqsmmcp-8{list-style-type:none}
ul.lst-kix_cubg9aqsmmcp-7{list-style-type:none}
.lst-kix_aocxomv5d9p2-7>li:before{content:"\00274f  "}
.lst-kix_aocxomv5d9p2-6>li:before{content:"\00274f  "}
ul.lst-kix_cubg9aqsmmcp-4{list-style-type:none}
ul.lst-kix_cubg9aqsmmcp-3{list-style-type:none}
ul.lst-kix_cubg9aqsmmcp-6{list-style-type:none}
ul.lst-kix_cubg9aqsmmcp-5{list-style-type:none}
.lst-kix_aocxomv5d9p2-4>li:before{content:"\00274f  "}
.lst-kix_aocxomv5d9p2-3>li:before{content:"\00274f  "}
.lst-kix_aocxomv5d9p2-5>li:before{content:"\00274f  "}
ul.lst-kix_cubg9aqsmmcp-0{list-style-type:none}
ul.lst-kix_cubg9aqsmmcp-2{list-style-type:none}
ul.lst-kix_cubg9aqsmmcp-1{list-style-type:none}
.lst-kix_s6artfghjxj2-5>li:before{content:"\00274f  "}
.lst-kix_s6artfghjxj2-1>li:before{content:"\00274f  "}
.lst-kix_s6artfghjxj2-7>li:before{content:"\00274f  "}
.lst-kix_1ntuv0jx5y1s-4>li:before{content:"\00274f  "}
.lst-kix_1ntuv0jx5y1s-6>li:before{content:"\00274f  "}
.lst-kix_1ntuv0jx5y1s-8>li:before{content:"\00274f  "}
.lst-kix_s6artfghjxj2-3>li:before{content:"\00274f  "}
.lst-kix_hwmkt1vutyj5-6>li:before{content:"\00274f  "}
.lst-kix_rw4kzzpjrib3-8>li:before{content:"\0025a0  "}
.lst-kix_rw4kzzpjrib3-6>li:before{content:"\0025cf  "}
.lst-kix_1ntuv0jx5y1s-2>li:before{content:"\00274f  "}
.lst-kix_hwmkt1vutyj5-8>li:before{content:"\00274f  "}
.lst-kix_1ntuv0jx5y1s-0>li:before{content:"\00274f  "}
.lst-kix_rw4kzzpjrib3-0>li:before{content:"\0025cf  "}
.lst-kix_rw4kzzpjrib3-2>li:before{content:"\0025a0  "}
ul.lst-kix_nz265uajgpfe-8{list-style-type:none}
ul.lst-kix_nz265uajgpfe-5{list-style-type:none}
.lst-kix_rw4kzzpjrib3-4>li:before{content:"\0025cb  "}
ul.lst-kix_nz265uajgpfe-4{list-style-type:none}
ul.lst-kix_nz265uajgpfe-7{list-style-type:none}
ul.lst-kix_nz265uajgpfe-6{list-style-type:none}
ul.lst-kix_nz265uajgpfe-1{list-style-type:none}
ul.lst-kix_nz265uajgpfe-0{list-style-type:none}
ul.lst-kix_nz265uajgpfe-3{list-style-type:none}
ul.lst-kix_nz265uajgpfe-2{list-style-type:none}
.lst-kix_y5lajpktzaow-0>li:before{content:"\00274f  "}
.lst-kix_cubg9aqsmmcp-3>li:before{content:"\0025cf  "}
ul.lst-kix_y5lajpktzaow-4{list-style-type:none}
ul.lst-kix_y5lajpktzaow-5{list-style-type:none}
ul.lst-kix_y5lajpktzaow-2{list-style-type:none}
ul.lst-kix_y5lajpktzaow-3{list-style-type:none}
ul.lst-kix_y5lajpktzaow-8{list-style-type:none}
.lst-kix_cubg9aqsmmcp-1>li:before{content:"\0025cb  "}
ul.lst-kix_y5lajpktzaow-6{list-style-type:none}
ul.lst-kix_y5lajpktzaow-7{list-style-type:none}
ul.lst-kix_y5lajpktzaow-0{list-style-type:none}
ul.lst-kix_y5lajpktzaow-1{list-style-type:none}
.lst-kix_uhj00amt2lq-7>li:before{content:"\00274f  "}
.lst-kix_uhj00amt2lq-8>li:before{content:"\00274f  "}
.lst-kix_nz265uajgpfe-8>li:before{content:"\0025a0  "}
.lst-kix_uhj00amt2lq-2>li:before{content:"\00274f  "}
.lst-kix_uhj00amt2lq-4>li:before{content:"\00274f  "}
.lst-kix_nz265uajgpfe-6>li:before{content:"\0025cf  "}
.lst-kix_nz265uajgpfe-5>li:before{content:"\0025a0  "}
.lst-kix_uhj00amt2lq-3>li:before{content:"\00274f  "}
ul.lst-kix_s6artfghjxj2-2{list-style-type:none}
ul.lst-kix_s6artfghjxj2-3{list-style-type:none}
ul.lst-kix_s6artfghjxj2-0{list-style-type:none}
.lst-kix_uhj00amt2lq-6>li:before{content:"\00274f  "}
ul.lst-kix_s6artfghjxj2-1{list-style-type:none}
.lst-kix_nz265uajgpfe-7>li:before{content:"\0025cb  "}
.lst-kix_uhj00amt2lq-5>li:before{content:"\00274f  "}
.lst-kix_nz265uajgpfe-0>li:before{content:"\0025cf  "}
ul.lst-kix_s6artfghjxj2-8{list-style-type:none}
.lst-kix_nz265uajgpfe-2>li:before{content:"\0025a0  "}
ul.lst-kix_s6artfghjxj2-6{list-style-type:none}
ul.lst-kix_s6artfghjxj2-7{list-style-type:none}
.lst-kix_nz265uajgpfe-1>li:before{content:"\0025cb  "}
ul.lst-kix_s6artfghjxj2-4{list-style-type:none}
ul.lst-kix_s6artfghjxj2-5{list-style-type:none}
.lst-kix_nz265uajgpfe-4>li:before{content:"\0025cb  "}
.lst-kix_nz265uajgpfe-3>li:before{content:"\0025cf  "}
.lst-kix_y5lajpktzaow-1>li:before{content:"\00274f  "}
.lst-kix_y5lajpktzaow-2>li:before{content:"\00274f  "}
ul.lst-kix_mz621xvypbqm-8{list-style-type:none}
.lst-kix_y5lajpktzaow-3>li:before{content:"\00274f  "}
ul.lst-kix_mz621xvypbqm-4{list-style-type:none}
.lst-kix_y5lajpktzaow-5>li:before{content:"\00274f  "}
ul.lst-kix_mz621xvypbqm-5{list-style-type:none}
ul.lst-kix_mz621xvypbqm-6{list-style-type:none}
.lst-kix_y5lajpktzaow-4>li:before{content:"\00274f  "}
.lst-kix_y5lajpktzaow-6>li:before{content:"\00274f  "}
ul.lst-kix_mz621xvypbqm-7{list-style-type:none}
ul.lst-kix_mz621xvypbqm-0{list-style-type:none}
ul.lst-kix_mz621xvypbqm-1{list-style-type:none}
ul.lst-kix_mz621xvypbqm-2{list-style-type:none}
ul.lst-kix_mz621xvypbqm-3{list-style-type:none}
ul.lst-kix_1ntuv0jx5y1s-3{list-style-type:none}
ul.lst-kix_1ntuv0jx5y1s-4{list-style-type:none}
ul.lst-kix_1ntuv0jx5y1s-1{list-style-type:none}
.lst-kix_y5lajpktzaow-8>li:before{content:"\00274f  "}
ul.lst-kix_1ntuv0jx5y1s-2{list-style-type:none}
.lst-kix_y5lajpktzaow-7>li:before{content:"\00274f  "}
ul.lst-kix_1ntuv0jx5y1s-0{list-style-type:none}
ul.lst-kix_hwmkt1vutyj5-8{list-style-type:none}
ul.lst-kix_1ntuv0jx5y1s-7{list-style-type:none}
ul.lst-kix_1ntuv0jx5y1s-8{list-style-type:none}
ul.lst-kix_1ntuv0jx5y1s-5{list-style-type:none}
ul.lst-kix_1ntuv0jx5y1s-6{list-style-type:none}
.lst-kix_c26ig5tbqfvt-0>li:before{content:"\00274f  "}
.lst-kix_uhj00amt2lq-0>li:before{content:"\00274f  "}
.lst-kix_c26ig5tbqfvt-1>li:before{content:"\00274f  "}
.lst-kix_c26ig5tbqfvt-3>li:before{content:"\00274f  "}
.lst-kix_uhj00amt2lq-1>li:before{content:"\00274f  "}
.lst-kix_c26ig5tbqfvt-2>li:before{content:"\00274f  "}
ul.lst-kix_hwmkt1vutyj5-4{list-style-type:none}
.lst-kix_c26ig5tbqfvt-5>li:before{content:"\00274f  "}
ul.lst-kix_hwmkt1vutyj5-5{list-style-type:none}
ul.lst-kix_hwmkt1vutyj5-6{list-style-type:none}
ul.lst-kix_hwmkt1vutyj5-7{list-style-type:none}
ul.lst-kix_hwmkt1vutyj5-0{list-style-type:none}
.lst-kix_c26ig5tbqfvt-7>li:before{content:"\00274f  "}
ul.lst-kix_hwmkt1vutyj5-1{list-style-type:none}
ul.lst-kix_hwmkt1vutyj5-2{list-style-type:none}
.lst-kix_c26ig5tbqfvt-4>li:before{content:"\00274f  "}
.lst-kix_c26ig5tbqfvt-8>li:before{content:"\00274f  "}
ul.lst-kix_hwmkt1vutyj5-3{list-style-type:none}
.lst-kix_c26ig5tbqfvt-6>li:before{content:"\00274f  "}
.lst-kix_s6artfghjxj2-2>li:before{content:"\00274f  "}
.lst-kix_s6artfghjxj2-6>li:before{content:"\00274f  "}
.lst-kix_s6artfghjxj2-0>li:before{content:"\00274f  "}
.lst-kix_s6artfghjxj2-8>li:before{content:"\00274f  "}
.lst-kix_1ntuv0jx5y1s-5>li:before{content:"\00274f  "}
ul.lst-kix_c26ig5tbqfvt-8{list-style-type:none}
ul.lst-kix_c26ig5tbqfvt-5{list-style-type:none}
ul.lst-kix_c26ig5tbqfvt-4{list-style-type:none}
ul.lst-kix_c26ig5tbqfvt-7{list-style-type:none}
.lst-kix_1ntuv0jx5y1s-7>li:before{content:"\00274f  "}
ul.lst-kix_c26ig5tbqfvt-6{list-style-type:none}
ul.lst-kix_c26ig5tbqfvt-1{list-style-type:none}
ul.lst-kix_c26ig5tbqfvt-0{list-style-type:none}
ul.lst-kix_c26ig5tbqfvt-3{list-style-type:none}
.lst-kix_s6artfghjxj2-4>li:before{content:"\00274f  "}
ul.lst-kix_c26ig5tbqfvt-2{list-style-type:none}
.lst-kix_1ntuv0jx5y1s-3>li:before{content:"\00274f  "}
.lst-kix_hwmkt1vutyj5-7>li:before{content:"\00274f  "}
.lst-kix_rw4kzzpjrib3-7>li:before{content:"\0025cb  "}
.lst-kix_1ntuv0jx5y1s-1>li:before{content:"\00274f  "}
ul.lst-kix_ufezumu3m1db-1{list-style-type:none}
ul.lst-kix_ufezumu3m1db-2{list-style-type:none}
ul.lst-kix_ufezumu3m1db-0{list-style-type:none}
ul.lst-kix_ufezumu3m1db-5{list-style-type:none}
ul.lst-kix_ufezumu3m1db-6{list-style-type:none}
ul.lst-kix_ufezumu3m1db-3{list-style-type:none}
ul.lst-kix_ufezumu3m1db-4{list-style-type:none}
ul.lst-kix_ufezumu3m1db-7{list-style-type:none}
.lst-kix_rw4kzzpjrib3-3>li:before{content:"\0025cf  "}
ul.lst-kix_ufezumu3m1db-8{list-style-type:none}
.lst-kix_rw4kzzpjrib3-5>li:before{content:"\0025a0  "}
ul.lst-kix_aocxomv5d9p2-6{list-style-type:none}
ul.lst-kix_aocxomv5d9p2-7{list-style-type:none}
ul.lst-kix_aocxomv5d9p2-8{list-style-type:none}
ul.lst-kix_aocxomv5d9p2-2{list-style-type:none}
ul.lst-kix_aocxomv5d9p2-3{list-style-type:none}
ul.lst-kix_aocxomv5d9p2-4{list-style-type:none}
ul.lst-kix_aocxomv5d9p2-5{list-style-type:none}
ul.lst-kix_aocxomv5d9p2-0{list-style-type:none}
ul.lst-kix_aocxomv5d9p2-1{list-style-type:none}
.lst-kix_cubg9aqsmmcp-2>li:before{content:"\0025a0  "}
.lst-kix_rw4kzzpjrib3-1>li:before{content:"\0025cb  "}
.lst-kix_cubg9aqsmmcp-0>li:before{content:"\0025cf  "}

ol
{
	margin:0;
	padding:0
}
table td,table th
{
	padding:0
}


.cell-address
{
	border-right-style:solid;
	border-top-style:solid;
	border-left-style:solid;
	border-bottom-style:solid;
	
	
	border-bottom-color:var(--sidebar-color);
	border-top-color:var(--bgcolor);
	border-left-color:var(--bgcolor);
	border-right-color:var(--bgcolor);
	
	border-top-width:0pt;
	border-right-width:0pt;
	border-left-width:0pt;
	border-bottom-width:2.2pt;
	
	vertical-align:top;
	padding:5pt 5pt 5pt 5pt;
	width:230.2pt
}

.cell-contact
{
	border-right-style:solid;
	border-top-style:solid;
	border-left-style:solid;
	border-bottom-style:solid;
	
	
	border-bottom-color:var(--sidebar-color);
	border-top-color:var(--bgcolor);
	border-left-color:var(--bgcolor);
	border-right-color:var(--bgcolor);
	
	border-top-width:0pt;
	border-right-width:0pt;
	border-left-width:0pt;
	border-bottom-width:2.2pt;
	
	padding:5pt 5pt 5pt 5pt;
	vertical-align:top;
	width:241.5pt;
}


.cell-summary
{
	border-top-width:0pt;
	border-right-width:0pt;
	border-left-width:0pt;
	border-bottom-width:0pt;
	
	padding-left:50pt;
	padding-right:50pt;
	
	vertical-align:top;
	background-color:var(--bgcolor);
	width:372pt
}


.cell-main
{
	border-top-width:0pt;
	border-right-width:0pt;
	border-left-width:1.5pt;		/* this is the visible divider */
	border-bottom-width:0pt;
	
	border-top-color:var(--bgcolor);
	border-bottom-color:var(--bgcolor);
	border-left-color:var(--sidebar-color);
	border-right-color:var(--bgcolor);
	
	
	border-right-style:solid;
	border-top-style:solid;
	border-left-style:solid;
	border-bottom-style:solid;
	
	vertical-align:top;
	background-color:var(--bgcolor);
	width:372pt
}

.cell-sidebar 	/* left column of the table */
{
	
	border-right-color:var(--sidebar-color);
	border-top-color:var(--bgcolor);
	border-bottom-color:var(--bgcolor);
	border-left-color:var(--bgcolor);
	
	border-top-width:0pt;
	border-right-width:1.5pt;		/* this is the visible divider */
	border-left-width:0pt;
	border-bottom-width:0pt;
	
	border-right-style:solid;
	border-top-style:solid;
	border-left-style:solid;
	border-bottom-style:solid;
		
	background-color:var(--bgcolor);
	vertical-align:top;
	width:99.8pt
}
.cell-title
{
	border-right-style:solid;
	border-top-style:solid;
	border-left-style:solid;
	border-bottom-style:solid;
	
	border-bottom-color:var(--sidebar-color);
	border-right-color:var(--bgcolor);
	border-left-color:var(--bgcolor);
	border-top-color:var(--sidebar-color);
	
	border-top-width:2.2pt;
	border-right-width:0pt;
	border-left-width:0pt;
	border-bottom-width:2.2pt;
	
	vertical-align:middle;	
	background-color:var(--sidebar-color);
	width:471.8pt
}


/* todo remove all border fortmatting except where necessary
	use global default (0 border width)
	*/
.cell-topspacer		/* space cell between title and main body */
{
	
	border-right-width:0pt;
	border-left-width:0pt;
	border-bottom-width:0pt;
	border-top-width:0pt;
	
	vertical-align:middle;
	width:471.8pt
}
.cell-bottomspacer		/* added by me */
{
	
	border-right-width:0pt;
	border-left-width:0pt;
	border-bottom-width:0pt;
	border-top-width:0pt;
	
	vertical-align:middle;
	width:471.8pt
}
.cell-bottombar
{

	border-right-style:solid;
	border-top-style:solid;
	border-left-style:solid;
	border-bottom-style:solid;
	
	border-bottom-color:var(--sidebar-color);
	border-right-color:var(--bgcolor);
	border-left-color:var(--bgcolor);
	border-top-color:var(--sidebar-color);
	
	border-top-width:2.2pt;
	border-right-width:0pt;
	border-left-width:0pt;
	border-bottom-width:2.2pt;
	
	vertical-align:middle;
	background-color:var(--sidebar-color);
	width:471.8pt
}
.text-subheading-A
{
	margin-left:29.7pt;
	padding-top:0pt;
	text-indent:-18pt;
	padding-bottom:0pt;
	line-height:1.0;
	orphans:2;
	widows:2;
	text-align:left;
	margin-right:-1.5pt
}

.text-subheading-A a:link
{
	color: #000055;
	text-decoration: none;
}
.text-subheading-A a:hover
{
	color: #0000aa;
	text-decoration: none;
}

.text-subheading-B	/* the italic bit */
{
	color:#000000;
	text-decoration:none;
	vertical-align:baseline;
	font-size:11pt;
	font-family:"Verdana"
}

.title-h1
{
	margin-left:45pt;
	padding-top:16pt;
	text-indent:-18pt;
	padding-bottom:0pt;
	line-height:1.0;
	page-break-after:avoid;
	text-align:right;
	margin-right:48.8pt
}

.date-text
{
	color:#666666;
	font-weight:400;		/* very light text */
	text-decoration:none;
	vertical-align:baseline;
	font-size:10pt;
	font-family:"Verdana";
	font-style:normal
}

.text-address
{
	font-size:9pt
}
.text-address a:link
{
	color: #000055;
	text-decoration: none;
}
.text-address a:hover
{
	color: #0000aa;
	text-decoration: none;
}

.text-normal
{
	color:#000000;
	font-weight:400;
	text-decoration:none;
	vertical-align:baseline;
	font-size:10pt;
	font-family:"Verdana";
	font-style:normal
}

.text-section-heading
{
	color:#000000;
	text-decoration:none;
	vertical-align:baseline;
	font-size:12pt;
	font-family:"Verdana";
	font-style:normal
}

.text-keyskills
{
	color:#000000;
	text-decoration:none;
	vertical-align:baseline;
	font-size:10pt;
	font-family:"Verdana";
	font-style:normal
}


.bulletlist-main
{
	padding:0;
	margin:0
}
.italic-light
{
	font-weight:400;
	font-style:italic
}
.italic-normal
{
	font-style:italic
}
.bold
{
	font-weight:700
}

.light
{
	font-weight:400
}



.other-text1
{
	color:#666666;
	font-weight:400;
	text-decoration:none;
	vertical-align:baseline;
	font-size:11pt;
	font-family:"Verdana"
}
.other-text2
{
	color:#000000;
	font-weight:400;
	text-decoration:none;
	vertical-align:baseline;
	font-size:24pt;
	font-family:"Verdana"
}
.other-text3
{
	color:#000000;
	text-decoration:none;
	vertical-align:baseline;
	font-size:8pt;
	font-family:"Verdana"
}
.other-text4
{
	color:#000000;
	text-decoration:none;
	vertical-align:baseline;
	font-size:12pt;
	font-family:"Verdana"
}

.bulletlist-entry
{
	margin-left:30pt;
	padding-top:10pt;
	padding-left:0pt;
	padding-bottom:0pt;
	line-height:1.3;
	orphans:2;
	widows:2;
	text-align:left
}


.date
{
	margin-left:29.7pt;
	padding-top:10pt;
	text-indent:-18pt;
	padding-bottom:0pt;
	line-height:1.3;
	orphans:2;
	widows:2;
	text-align:left
}
.date-margin
{
	margin-right:-1.5pt
}

.keyskills-para
{
	margin-left:45pt;
	padding-top:20pt;
	padding-bottom:0pt;
	line-height:1.14;
	orphans:2;
	widows:2;
	text-align:center;
	margin-right:39pt
}

.languages-para
{
	padding-top:20pt;
}

.address-para
{
	margin-left:36pt;
	padding-top:0pt;
	text-indent:-18pt;
	padding-bottom:0pt;
	line-height:1.0;
	orphans:2;
	widows:2;
	text-align:right
}
.section-heading
{
	padding-top:16pt;
	padding-bottom:0pt;
	line-height:1.0;
	page-break-after:avoid;
	text-align:right;
	margin-right:19.8pt
}

.contact-para
{
	padding-top:0pt;
	padding-bottom:0pt;
	line-height:1.15;
	orphans:2;
	widows:2;
	text-align:left;

	margin-left:18pt;
	text-indent:-22.5pt
}
.vgap-10pt
{
	height:10pt
}





.row-address
{
	border-width: 0pt;
	height:30pt
}
.row-title
{
	height: 72pt
}
.row-topspacer
{
	height: 10pt
}
.row-summary
{
	height:auto
}
.row-keyskills
{
	height:60pt
}
.row-experience
{
	/*height:264pt*/
	height:auto
}
.row-employment
{
	height:90pt
}
.row-education
{
	height:285pt
}
.row-languages
{
	/*height:72pt*/
	height:60pt
}
.row-interests
{
	height:45pt
}
.row-bottomspacer
{
	/*height:15pt*/
	height:25pt
}
.row-bottombar
{
	height:50pt
}

.title
{
	padding-top:0pt;
	color:#000000;
	font-weight:700;
	font-size:14pt;
	padding-bottom:10pt;
	font-family:"Playfair Display";
	line-height:1.0;
	orphans:2;
	widows:2;
	text-align:left
}
.subtitle
{
	padding-top:0pt;
	color:#999999;
	font-size:9pt;
	padding-bottom:0pt;
	font-family:"Verdana";
	line-height:1.15;
	orphans:2;
	widows:2;
	text-align:left
}


/* HTML elements */
li
{
	color:#000000;
	font-size:10pt;
	font-family:"Verdana"
}
p
{
	margin:0;
	color:#000000;
	font-size:10pt;
	font-family:"Verdana"
}
h1
{
	padding-top:16pt;
	color:#000000;
	font-weight:700;
	font-size:12pt;
	padding-bottom:0pt;
	font-family:"Verdana";
	line-height:1.0;
	page-break-after:avoid;
	text-align:right
}
h2
{
	padding-top:10pt;
	color:#666666;
	font-size:10pt;
	padding-bottom:0pt;
	font-family:"Verdana";
	line-height:1.3;
	orphans:2;
	widows:2;
	text-align:left
}
h3
{
	padding-top:0pt;
	color:#000000;
	font-weight:700;
	font-size:11pt;
	padding-bottom:0pt;
	font-family:"Verdana";
	line-height:1.0;
	orphans:2;
	widows:2;
	text-align:left
}
h4
{
	padding-top:8pt;
	-webkit-text-decoration-skip:none;
	color:#666666;
	text-decoration:underline;
	font-size:11pt;
	padding-bottom:0pt;
	line-height:1.3;
	page-break-after:avoid;
	text-decoration-skip-ink:none;
	font-family:"Trebuchet MS";
	orphans:2;
	widows:2;
	text-align:left
}
h5
{
	padding-top:8pt;
	color:#666666;
	font-size:11pt;
	padding-bottom:0pt;
	font-family:"Trebuchet MS";
	line-height:1.3;
	page-break-after:avoid;
	orphans:2;
	widows:2;
	text-align:left
}
h6
{
	padding-top:8pt;
	color:#666666;
	font-size:11pt;
	padding-bottom:0pt;
	font-family:"Trebuchet MS";
	line-height:1.3;
	page-break-after:avoid;
	font-style:italic;
	orphans:2;
	widows:2;
	text-align:left
}
.container
{

	display:block;
	margin-right:auto;
	margin-left:auto;
	width:491.7pt;	/*includes (border-width * 2) */
	
	background-color:var(--bgcol);
	
	border-width: 0pt;
}

.main-table
{
	display:block;
	border-spacing:0;
	border-collapse:collapse;
	margin-right:auto;
	margin-left:auto;
	width: 471.7pt;
	/*width:491.7pt;*/	/*includes (border-width * 2) */
	
		
	border-width: 0pt;
	border-color: var(--bgcol);	
	border-style: solid;
}


tr:hover 
{
	background-color: var(--bghover);
}
tr
{	
	background-color: var(--bgcol);
	border-width: 0pt;
}

.cell-title:hover, .cell-bottombar:hover
{
	background-color:var(--sidebar-hover);
}


body
{
	background-color: silver;
	/*background-color:var(--bgcol);*/
	
	
	/*max-width:471.7pt;
	padding:28.3pt 61.8pt 28.3pt 61.8pt*/
}

a {
	color: black;
}


/* Style of the title (name) text */
.title-text
{
	color:#000000;
	font-weight:400;
	text-decoration:none;
	vertical-align:baseline;
	font-size:36pt;
	font-family:"Calibri";
	font-style:normal
}
.title-caps
{
	font-size:40pt;
	font-family:"Calibri";
	font-weight:400
}

